
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Oswald);

body {
  background-image: url('list-pic.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Header Styles */

.header {
  text-align: center;
  margin-top: 1%;
}

.header-h1 {
  color: blue;
  font-size: 100px;
  font-family: lobster;
}

.header-h2 {
  margin-top: -95px;
  color: white;
  font-family: permanent marker;
  font-size: 40px;
}

/* Form Styles */

.my-form {
  text-align: center;
}

input {
height: 50px;
width: 250px;
border-radius: 20px;
font-family: oswald;
font-size: 20px;
padding-left: 2%;
}

.form-button {
  font-size: 35px;
  background-color: transparent;
  color: blue;
  font-family: lobster;
}

/* Task Styles */

.task-style {
  background-color: grey;
  opacity: .75;
  margin: 0% 25%;
  border-radius: 15px;
}

.task-style-h1 {
  opacity: 1;
  margin: 5% 0%;
  padding: 10px 5%;
  font-family: oswald;
  font-size: 20px;
  color: white;
}

.task-button {
  float: right;
  margin-top: 1%;
  font-family: arial;
  font-size: 15px;
  color: black;
}






















